<header class="header">
  <div class="header-content">
    <div class="user-menu">
      <div class="dropdown" style="cursor: pointer">
        <a
          class="dropdown-toggle d-flex align-items-center gap-2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="assets/Images/home.png.png"
            alt="user"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li><a routerLink="/panel" class="dropdown-item">خانه</a></li>
          <li *ngIf="userRole !== 'admin'">
            <a routerLink="/userProfile" class="dropdown-item">پروفایل</a>
          </li>
          <li><a routerLink="/profile" class="dropdown-item">تغییر رمز</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="log_out()"
              >خروج</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
