.address {
  display: flex;
  justify-content: right;
  padding-right: 20px;
  padding-bottom: 20px;
  flex-direction: row-reverse;
}
.address a,
.address span {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.form1 {
  padding-top: 15px;
}
input {
  display: inline;
  margin-top: 20px;

  max-width: 200px;
  border-color: black;
  border-radius: 9px;
  margin-left: 50px;
  margin-right: 20px;
}
label {
  display: inline-block;
  padding: 25px 20px 0 10px;
  height: 65px;
}
.form-group {
  display: flex;
  flex-direction: row-reverse;
  max-width: 650px;
}
.btn.btn-primary,
.btn.btn-success,
.btn.btn-info {
  margin-bottom: 20px;
}
.col-md-6 {
  width: 24%;
}
.row.main {
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 30px 0 0 0;
  margin-bottom: 20px;
}
.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.buttons2 {
  margin-top: 20px;
  margin-left: 50px;
}
.select1 {
  word-wrap: normal;
  margin-top: 20px;
  width: 250px;
  border-radius: 9px;
  text-align: center;
}
::ng-deep .ng-input {
  padding-right: 30px;
}
::ng-deep .ng-input > input {
  direction: rtl;
}
::ng-deep .ng-value-label.ng-star-inserted {
  margin-left: 80px;
}
::ng-deep .ng-select .ng-select-container {
  border-color: #000000;
  border-radius: 9px;
  height: 44px !important;
}
/* message componnent */
.message-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin-bottom: 240px;
}

.success {
  color: rgb(5, 167, 5);
}

.error {
  color: red;
}
option {
  text-align: center;
}
.btn.btn-danger {
  margin-bottom: 20px;
  margin-left: 10px;
}
.mat-elevation-z8 {
  box-shadow: none;
}
.mat-mdc-paginator {
  display: flex;
  justify-content: center;
}
th {
  color: #0d00ff;
  font-size: 15px;
}

.radio-group {
  padding-top: 30px;
}
.radio-group input {
  margin-top: 0;
  width: 20px;
}
.radio-group label {
  padding-top: 0;
  height: 50px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.userDeliveryGoods-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 20px;
  background-color: #b8bff9;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensure it's on top of the backdrop */
}

.userDeliveryGoods-form .form-group {
  margin-bottom: 15px;
}

.userDeliveryGoods-form .btn {
  width: 100%;
}
.userDeliveryGoods-form label {
  width: 225px;
  text-align: end;
}
.passButtons {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}
.container1 label {
  width: 90px;
}
.container1 select {
  width: 190px;
}
.container2 {
  border: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    #0dcaf0,
    rgba(29, 25, 247, 0.636)
  );
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 50px;
  margin-bottom: 20px;
}
::placeholder {
  text-align: center;
}
mat-paginator,
table,
thead {
  background-color: #bac1ff40;
}
mat-form-field {
  height: 90px;
  direction: rtl;
  width: 11%;
  align-content: end;
  display: flex;
  justify-self: right;
  margin-top: 60px;
  height: 90px;
  margin-right: 10px;
}
