.form1 {
  padding-top: 15px;
}
input {
  display: inline;
  margin-top: 20px;

  max-width: 350px;
  margin-left: 50px;
  border-color: black;
  border-radius: 9px;
}
label {
  display: inline-block;
  padding: 25px 20px 0 10px;
  width: 600px;
  height: 65px;
}
.form-group {
  display: flex;
  flex-direction: row-reverse;
  max-width: 650px;
}
.btn.btn-primary {
  margin-bottom: 20px;
}
.col-md-6 {
  width: 30%;
}
.row.main {
  margin-top: 100px;
  border: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    #0dcaf0,
    rgba(29, 25, 247, 0.636)
  );
  margin-left: 13px;
  margin-right: 13px;
  padding: 30px 0 0 0;
  padding-bottom: 50px;
}
.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.buttons2 {
  margin-top: 20px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

/* message componnent */
.message-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-bottom: 240px;
}

.success {
  color: rgb(5, 167, 5);
}

.error {
  color: red;
}

.btn.btn-danger {
  margin-bottom: 20px;
  margin-right: 10px;
}

.container1 {
  margin-top: 150px;
  border: 6px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    45deg,
    #0dcaf0,
    rgba(29, 25, 247, 0.636)
  );
  margin-left: 13px;
  margin-right: 13px;
  padding-top: 50px;
}
.sub1 {
  display: flex;
  justify-content: center;
}
::placeholder {
  text-align: center;
}
h1 {
  margin: 70px 0 0 30%;
}
span {
  color: red;
}
mat-paginator,
table,
thead {
  background-color: #bac1ff40;
}
