.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}

.dialog-content {
  padding: 16px;
}
.full-width-table td {
  text-align: center;
}
.form1 {
  padding-top: 15px;
}
input {
  display: inline;
  margin-top: 20px;

  max-width: 350px;
  border-color: black;
  border-radius: 9px;
}
label {
  display: inline-block;
  padding: 25px 20px 0 10px;
  width: 150px;
  height: 65px;
  text-align: end;
}
.form-group {
  display: flex;
  flex-direction: row-reverse;
  max-width: 650px;
  margin-bottom: 20px;
  margin-right: 50px;
}

/* .col-md-6 {
    width: 30%;
  } */
.row.main {
  margin-top: 90px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  padding: 30px 0 0 0;
  padding-bottom: 50px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1%;
}
.row {
  justify-content: center;
  margin-left: 80px;
}
.buttons2 {
  margin-top: 50px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.select1 {
  word-wrap: normal;
  margin-top: 20px;
  width: 200px;
  border-radius: 9px;
}
/* message componnent */
.message-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-bottom: 240px;
}

.success {
  color: rgb(5, 167, 5);
}

.error {
  color: red;
}
option {
  text-align: center;
}
.btn.btn-danger {
  margin-right: 10px;
}
/* .container1 {
} */
.sub1 {
  display: flex;
  justify-content: center;
}
::placeholder {
  text-align: center;
}
.dialog-content {
  width: 100%;
  height: 100%;
}
textarea {
  height: 200px;
  direction: rtl;
  padding: 10px;
  border-color: black;
  border-radius: 9px;
}
.form-check-input {
  margin-top: 28px;
}
mat-paginator,
table,
thead {
  background-color: #8e9aff00;
}
/* ::ng-deep .mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: #8d99ff;
} */
