.mat-elevation-z8 {
  box-shadow: none;
}
.dialog-container {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.dialog-content {
  padding: 16px;
}
.full-width-table td {
  text-align: center;
}
mat-paginator,
table,
thead {
  background-color: #8e9aff00;
}
/* .dialog-container {
  background-color: #8e9aff73;
} */
