<as-header></as-header>
<div class="address">
  <a routerLink="/panel">صفحه اصلی </a>
  <span>&nbsp;/&nbsp;</span>

  <a routerLink="/pfcOrder">ترتیب کالا ها </a>
</div>
<div class="buttons">
  <button
    class="btn btn-primary rounded-pill px-3"
    style="float: right; margin-right: 10px"
    (click)="toggleView('form')"
  >
    ایجاد ترتیب جدید
  </button>
</div>

<div class="message-container" *ngIf="showMessage">
  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
<!-- Order Form -->
<div>
  <form
    class="form1"
    *ngIf="showOrderForm"
    [formGroup]="orderForm"
    (ngSubmit)="onSubmitOrderForm()"
  >
    <!-- Form fields for first step -->
    <div class="row main">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="GooodsGroupId"> دسته کالا</label>
            <ng-select
              notFoundText="اطلاعاتی بدست نیامد"
              id="GooodsGroupId"
              class="select1"
              formControlName="GooodsGroupId"
            >
              <ng-option
                *ngFor="let goods of goodsCategoryList"
                [value]="goods.gooodsgroupid"
              >
                {{ goods.gooodsgroupname }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="AttributeCategoryId"> دسته ویژگی کالا</label>
            <ng-select
              notFoundText="اطلاعاتی بدست نیامد"
              id="AttributeCategoryId"
              class="select1"
              formControlName="AttributeCategoryId"
            >
              <ng-option
                *ngFor="let attribute of goodsCategoryFeatureList"
                [value]="attribute.attributecategoryid"
              >
                {{ attribute.attributecategoryname }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="GoodsAttributesId"> ویژگی کالا</label>
            <ng-select
              notFoundText="اطلاعاتی بدست نیامد"
              id="GoodsAttributesId"
              class="select1"
              formControlName="GoodsAttributesId"
            >
              <ng-option
                *ngFor="let feature of goodsFeatureList"
                [value]="feature.goodsattributesid"
              >
                {{ feature.goodsattributestitle }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="order "> ترتیب </label>
            <input
              type="text"
              id="order"
              class="form-control"
              formControlName="order"
              placeholder="اجباری"
            />
          </div>
        </div>
        <div class="buttons2">
          <button type="submit" class="btn btn-primary">
            {{ this.isEditing ? "ویریش" : "ثبت" }}
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="closeOrderForm()"
          >
            بستن
          </button>
        </div>
      </div>
    </div>
  </form>
  <mat-form-field class="secondary-Form-field">
    <input matInput (keyup)="applyFilter($event)" placeholder="فیلتر" />
  </mat-form-field>
  <!-- Order Table -->
  <div class="mat-elevation-z8" *ngIf="showOrderTable">
    <table
      mat-table
      [dataSource]="orderDataSource"
      matSort
      [dir]="'rtl'"
      class="full-width-table"
    >
      <!--Gooods Group Column -->
      <ng-container matColumnDef="GooodsGroupName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>دسته کالا</th>
        <td mat-cell *matCellDef="let row">
          {{ row.gooodsgroupid.gooodsgroupname }}
        </td>
      </ng-container>
      <!-- Goods Attributes Column -->
      <ng-container matColumnDef="GoodsAttributesName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ویژگی کالا</th>
        <td mat-cell *matCellDef="let row">
          {{ row.goodsattributesid.goodsattributestitle }}
        </td>
      </ng-container>

      <!-- Attribute Category Column -->
      <ng-container matColumnDef="AttributeCategoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>دسته ویژگی</th>
        <td mat-cell *matCellDef="let row">
          {{ row.attributecategoryid.attributecategoryname }}
        </td>
      </ng-container>

      <!-- Order  Column -->
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ترتیب</th>
        <td mat-cell *matCellDef="let row">{{ row.order }}</td>
      </ng-container>
      <!-- Edit button column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ویرایش</th>
        <td mat-cell *matCellDef="let row">
          <button
            class="btn btn-primary"
            (click)="
              editOrder(
                row.goodsattributesid.goodsattributesid,
                row.gooodsgroupid.gooodsgroupid
              )
            "
          >
            ویرایش
          </button>
        </td>
      </ng-container>
      <!-- Delete Button Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>حذف</th>
        <td mat-cell *matCellDef="let row">
          <button
            class="btn btn-danger"
            (click)="
              deleteOrder(
                row.goodsattributesid.goodsattributesid,
                row.gooodsgroupid.gooodsgroupid
              )
            "
          >
            حذف
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of buildings"
    ></mat-paginator>
  </div>
</div>
