<div class="dialog-container">
  <div class="dialog-header">
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <table class="rwd-table">
      <tr>
        <th>کامپیوتر ها</th>
        <th>کالا ها</th>
      </tr>

      <tr>
        <td>
          <button
            class="btn btn-info"
            (click)="viewComputers(this.data.userpersonalid)"
          >
            مشاهده
          </button>
        </td>
        <td>
          <button
            class="btn btn-info"
            (click)="viewDeliveredGoods(this.data.userpersonalid)"
          >
            مشاهده
          </button>
        </td>
      </tr>
    </table>

    <!-- <table
      mat-table
      [dataSource]="dataSource"
      matSort
      [dir]="'rtl'"
      class="full-width-table test"
    >
      <ng-container matColumnDef="deliveredgoods">
        <th mat-header-cell *matHeaderCellDef>کالا ها</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-info" (click)="viewDeliveredGoods()">
            مشاهده
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="computers">
        <th mat-header-cell *matHeaderCellDef>کامپیوتر ها</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-info" (click)="viewComputers()">مشاهده</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->
  </div>
</div>
