<as-header></as-header>
<div class="address">
  <a routerLink="/panel">صفحه اصلی </a>
  <span>&nbsp;/&nbsp;</span>

  <a routerLink="/zones"> حوزه ها</a>
</div>
<div>
  <button
    class="btn btn-primary rounded-pill px-3"
    style="float: right; margin-right: 10px"
    (click)="toggleView('form')"
  >
    ایجاد حوزه جدید
  </button>
</div>
<div class="message-container" *ngIf="showMessage">
  <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
  <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
<div>
  <form
    class="form1"
    *ngIf="showAreaForm"
    [formGroup]="areaForm"
    (ngSubmit)="onSubmitAreaForm()"
  >
    <div class="container1">
      <div class="sub1">
        <div class="col-md-6">
          <div class="form-group">
            <label for="areaname"> نام حوزه </label>
            <input
              dir="rtl"
              type="text"
              id="areaname"
              class="form-control"
              formControlName="areaname"
              placeholder="حداقل 4 حرف"
              required
            />
          </div>
        </div>
      </div>
      <div class="buttons2">
        <button type="submit" class="btn btn-primary">
          {{ this.isEditing ? "ویرایش" : "ثبت" }}
        </button>
        <button type="button" class="btn btn-danger" (click)="closeAreaForm()">
          بستن
        </button>
      </div>
    </div>
  </form>
  <mat-form-field class="secondary-Form-field">
    <input matInput (keyup)="applyFilter($event)" placeholder="فیلتر" />
  </mat-form-field>
  <!-- Area Table -->
  <div class="mat-elevation-z8" *ngIf="showAreaTable">
    <table
      mat-table
      [dataSource]="areaDataSource"
      matSort
      [dir]="'rtl'"
      class="full-width-table"
    >
      <!-- Area ID Column -->
      <ng-container matColumnDef="areaid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>کد</th>
        <td mat-cell *matCellDef="let row">{{ row.areaid }}</td>
      </ng-container>

      <!-- Area Name Column -->
      <ng-container matColumnDef="areaname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>نام</th>
        <td mat-cell *matCellDef="let row">{{ row.areaname }}</td>
      </ng-container>
      <!--  areaupdatetime  Column -->
      <ng-container matColumnDef="areacreatetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاریخ ایجاد</th>
        <td mat-cell *matCellDef="let row">
          {{ convertDate(row.areacreatetime) }}
        </td>
      </ng-container>
      <!-- areaupdatetime Column -->
      <ng-container matColumnDef="areaupdatetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>تاریخ ویرایش</th>
        <td mat-cell *matCellDef="let row">
          {{ convertDate(row.areaupdatetime) }}
        </td>
      </ng-container>
      <!-- Edit button column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ویرایش</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-primary" (click)="editArea(row.areaid)">
            ویرایش
          </button>
        </td>
      </ng-container>
      <!-- Delete Button Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>حذف</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-danger" (click)="deleteArea(row.areaid)">
            حذف
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of buildings"
    ></mat-paginator>
  </div>
</div>
